@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

@keyframes fadeCycle {
  0% { opacity: 1; }
  25% { opacity: 1; }
  33% { opacity: 0; }
  92% { opacity: 0; }
  100% { opacity: 1; }
}

.bg-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  animation: fadeCycle 18s infinite;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.bg-slide:nth-child(1) {
  animation-delay: 0s;
}
.bg-slide:nth-child(2) {
  animation-delay: 6s;
}
.bg-slide:nth-child(3) {
  animation-delay: 12s;
}

